@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600&display=swap');


html {
    overflow: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 200px;
}

.text_lato {
    font-family: 'Lato', sans-serif;
}

.text_playfair {
    font-family: 'Playfair Display', serif;
}

    